<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.telekom.smartcredentials.oneclickbusinessclient">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.activity.PortalActivity"
            android:theme="@style/Theme.SmartCredentials_aOS">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>